#Info{
    height: 80vh;
    background-color:#F5F5F5;
}
.info__section{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pre-page{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.section-base{
    width: 30%;
    height: 85%;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 4px -4px 8px rgba(54, 63, 78, 0.1), -4px 4px 8px rgba(54, 63, 78, 0.1);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-record{
    width: 60%;
    height: 85%;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 4px -4px 8px rgba(54, 63, 78, 0.1), -4px 4px 8px rgba(54, 63, 78, 0.1);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.base{
    width: 80%;
    display: flex;
    align-items: center;
}
.base.lock{
    width: 85%;
    margin-top: 35px;
}
.base h1{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-style: bold;
    color:#363F4E;
    margin: 0 0 0 15px;
}
.base h2{
    margin: 5px 0 55px 35px;
}
.base p{
    font-weight: 400;
    margin: 15px 0 15px 25px;
}
.control-btn{
    width:100%;
    margin-top: 35px;
    text-align: center;
}