#Info {
  height: 80vh;
  background-color: #f5f5f5;
}
.userInfoSection {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pre-page {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 0px 12px 24px;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-button {
  background: transparent;

  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.4);

  border: 1px solid slategrey;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}
.userInfoTitle {
  width: 90%;
}
