.login{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.login__side{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
}
.side-name{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}
.side-logo{
    max-width: 180px;
    max-height: 180px;
}
.login__form{
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 65%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 10px;
}
.form-item{
    display: block;
    text-align: left;
    margin: 50px 25px;
}
.form-item-title{
    margin: 10px 0;
}
.form-item-title h1{
    font-size: 24px;
}
.form-item-user {
    margin: 20px 0;
}
.form-item-user h2{
    margin: 10px 0;
    font-size: 12px;
}
.form-item-pswd {
    margin: 20px 0;
}
.form-item-pswd h2{
    margin: 10px 0;
    font-size: 12px;
}