#login {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}
.loginBoard {
  width: 33.3%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #363f4e;
}
.loginBoardTitle {
  margin: 20px 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.loginBoardLogo {
  width: 150px;
  height: 150px;
}
.loginArea {
  width: 66.7%;
  max-height: 600px;
  height: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 4px -4px 8px rgba(54, 63, 78, 0.1),
    -4px 4px 8px rgba(54, 63, 78, 0.1);
  padding: 5px;
  background-color: #fff;
}
.loginFormItem {
  display: block;
  text-align: left;
  margin-top: 18px;
  padding: 30px 40px 80px 40px;
}
.loginFormItemTitle {
  margin-bottom: 28px;
}
.loginFormItemTitle h1 {
  font-size: 36px;
}
.loginFormItemUser {
  margin-bottom: 28px;
}
.loginFormItemUser h2 {
  margin-bottom: 8px;
  font-size: 14px;
}
.loginFormItemPassword {
  margin-bottom: 28px;
}
.loginFormItemPassword h2 {
  margin-bottom: 8px;
  font-size: 14px;
}
.loginFormItemCheck {
  margin: 10px 0;
}
.loginFormItemButton {
  margin-top: 56px;
}
.loginFormItemButton span {
  display: none;
}

@media screen and (min-height: 1280px) {
  .loginArea {
    height: 67%;
  }
  .loginBoardLogo {
    width: 200px;
    height: 200px;
  }
  .loginBoardTitle {
    font-size: 36px;
  }
  .loginFormItem {
    margin-top: 38px;
  }
  .loginFormItemUser {
    margin-bottom: 36px;
  }
  .loginFormItemPassword {
    margin-bottom: 36px;
  }
  .loginFormItemButton {
    margin-top: 96px;
  }
}

@media screen and (max-width: 1280px) {
  .loginBoardLogo {
    width: 120px;
    height: 120px;
  }
  .loginBoardTitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  #login {
    display: block;
  }
  .loginBoard {
    height: 20%;
    width: 100%;
  }
  .loginArea {
    height: 80%;
    width: 100%;
  }
  .loginForm {
    height: 80%;
    width: 70%;
  }
  .loginBoardLogo {
    width: 70px;
    height: 70px;
  }
  .loginBoardTitle {
    font-size: 16px;
    margin: 10px 0;
  }
}
