#Luck {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f5f5f5;
	height: 100%;
	width: 100%;
}
.luckButton {
	display: flex;
	align-items: flex-end;
	/* margin-left: 50px; */
	/* min-width: 900px; */
}
.luckTitle {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	font-style: bold;
	line-height: 30px;
	margin: 36px 0 16px 0;
	color: #363f4e;
}

.statusPaper {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* font-family: "Roboto";
	font-style: normal; */
}

.cir {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 7px 0;
	font-family: "Roboto";
	font-style: "normal";
}

.luckSection {
	margin: 0 80px;
}

.luckContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.statusDisable {
	opacity: 0;
}

.status {
	margin-bottom: 5px;
	/* margin-left: 90px; */
}
