#Luck {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f5f5f5;
	height: 100vh;
}
.luck__title {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	font-style: bold;
	line-height: 40px;
	margin: 30px 0;
	color: #363f4e;
}
.toggle-btn {
	max-width: 800px;
	text-align: center;
}
.toggle-btn .btn {
	margin: 7px;
    
}
.status {
	position: relative;

}

.p{
    font-size:24px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

    
}

.cir{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 10px 0 ;
}

.status {
    position: absolute;
    Top:600px;
    Left:1220px;
    

}

