.logo{
    width:40px;
    height:40px;
    margin-right: 20px;
}

.username{
    padding: 10px 0px 10px 10px;
}
.LogoutIcon{
    padding: 10px;
}

.Logout{
    padding: 10px;
}

.Bar{
    display:flex;
}
.Bar-user,.Bar-logout{
    display:flex;
    align-items: center;
}

.Bar-logout{
    padding: 0px 0px;
}

.Bar-user::after {
    content:"";
    margin: 25px;
    height: 100%;
    border-right: solid #FFFFFF 1px;
    z-index: 999;
}