.logo{
    width:40px;
    height:40px;
    margin-right: 20px;
}

.title{
    font-weight: 400;
}

.avatar{
    margin:10px;
}

.username{
    padding: 10px 0px 10px 10px;
}

.LogoutIcon{
    padding: 10px;
}

.Logout{
    padding: 10px;
}

.Bar{
    display:flex;
}
.Bar-user,.Bar-logout{
    display:flex;
    align-items: center;
    margin: 0 20px;
}

.logout-icon{
    padding-right:5px;
}
