.control-btn {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.success {
  float: "right";
}

#Info {
  height: 80vh;
  background-color: #f5f5f5;
}
.userInfoSection {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.previousPageButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 0px 12px 24px;
}
.userInfoTitle {
  width: 30%;
  height: 95%;
  background-color: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userRecordSection {
  width: 60%;
  height: 95%;
  background-color: #fff;
  box-shadow: 4px -4px 8px rgba(54, 63, 78, 0.1),
    -4px 4px 8px rgba(54, 63, 78, 0.1);
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.userInfo {
  width: 80%;
  display: flex;
  align-items: center;
}
.userInfo h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-style: bold;
  color: #363f4e;
  margin: 0 0 0 15px;
}
.userInfo p {
  font-weight: 400;
}
/* .control-btn {
	width: 100%;
	margin-top: 35px;
	text-align: center;
} */
.userRecordTitle {
  color: #363f4e;
  font-weight: 400;
  font-size: 24px;
}
.userRecordTitle {
  padding: 30px 58px 20px 58px;
}
.userRecord {
  padding: 18px 58px 0 58px;
  max-height: 80%;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-button {
  background: transparent;

  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.4);

  border: 1px solid slategrey;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}
.diacontent {
  margin: 10px 0;
}
#alert-dialog-title {
  line-height: 1;
}
.alert img {
  margin: 30px 0 8px 0;
}
.alert p {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}